<div class="form-card">
    <mat-card class="mat-card">
      <mat-card-header class="header">
        <mat-card-title class="font-title-m">Log in</mat-card-title>
      </mat-card-header>
      <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <mat-card-content class="content">

            <mat-form-field class="inputs">
              <mat-label>Email</mat-label>
              <input type="text" class="form-control" matInput [(ngModel)]="form.email" name="email" required>
              <mat-error>
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="inputs">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password" name="password" required>
              <mat-error>
                Password is <strong>required</strong>
              </mat-error>
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            
          </mat-card-content>

          <button mat-flat-button color="primary" type="submit">Submit</button>
          <div class="not-registered">
            <p>Not registered yet? </p>
            <a class="create-account" href="signup"> Create an account</a>
          </div>
      </form>
    </mat-card>
</div>