<h1 mat-dialog-title>Patient Details</h1>
<div mat-dialog-content>
  <h3>Patient: <b>{{patient.title}}</b></h3>
  <h3>Date of Birth: <b>{{patient.dob.toDate() | date:'d/M/yyyy' }}</b></h3>
  <h3>Gender: <b>{{patient.gender }}</b></h3>
  <h3>Phone Number: <b>{{patient.phoneNumber }}</b></h3>
  <div class="appointments" *ngFor="let appointment of appointments; let i = index;">
      <div class="appointment">
          <h4>{{appointment.description}} at {{appointment.start.toDate() | date:'MMMM d, y'}}</h4>
        </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>