.parent{
    width: 80%;
    margin: 25px auto;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.header{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.today button{
    margin: 0 10px;
}
.font-title-m{
    font-size: 24px !important;
    margin: 0;
}
.add-btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 64px !important;
    width: 64px !important;
}
.add-btn .mat-icon{
    font-size: 38px;
    height: 38px !important;
    width: 38px !important;
}