.form-card{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs, .input-date{
    margin: 15px;
    width: 400px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    height: 150px;
}
mat-card-title{
    margin: 25px 0;
}
.date-wrapper{
    width: 430px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input-date{
    width: 175px;
}
.btn{
    margin-bottom: 20px;
}