<div class="form-card">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Edit Patient</mat-card-title>
      </mat-card-header>
      <form [formGroup]="newPatient" (ngSubmit)="onSubmit()">
  
        <mat-card-content class="content">


          <mat-form-field class="inputs">
            <mat-label>{{Title}}</mat-label>
            <input type="text" matInput disabled>
          </mat-form-field>

            <mat-form-field class="inputs">
              <mat-label>Phone number</mat-label>
              <input type="text"
                    placeholder="+355680000000"
                    matInput
                    formControlName="phoneNumber">
              <mat-error>
                    Phone number is <strong>required</strong>
              </mat-error>
            </mat-form-field>

              <mat-form-field class="inputs">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="inputs">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                </mat-select>
              </mat-form-field>

        </mat-card-content>
  
        <button mat-flat-button color="primary" type="submit" class="btn">Submit</button>
  
      </form>
    </mat-card>
  </div>