  <!-- <div class="form-card">
    <mat-card class="mat-card">
      <mat-card-header class="header">
        <mat-card-title class="font-title-m">Sign Up</mat-card-title>
      </mat-card-header>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Fill out account details</ng-template>
        <mat-card-content class="content">

          <mat-form-field class="inputs">
            <input matInput placeholder="Username" formControlName="username">
            <mat-error>
              Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userName?.errors?.validUsername">
              Username can only contain letters and numbers
            </mat-error>

          </mat-form-field>
  
          <mat-form-field class="inputs">
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
  
          <mat-form-field class="inputs">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>
              Password must contain 1 letter, 1 number and be at least 8 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field class="inputs">
            <input matInput type="password" placeholder="Confirm Password" formControlName="cpassword" [errorStateMatcher]="errorMatcher">
            <mat-error>
              Passwords do not match
            </mat-error>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-flat-button color="primary" type="submit">Submit</button>
        <div class="not-registered">
          <p>Already have an account?</p>
          <a class="create-account" href="login">Log in</a>
        </div>
  
      </form>
    </mat-card>
</div> -->

<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="signUpForm">
    <form [formGroup]="signUpForm">
      <ng-template matStepLabel>Fill out account details</ng-template>
      <mat-card-content class="content">

        <mat-form-field class="inputs">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error>
            Username is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userName?.errors?.validUsername">
            Username can only contain letters and numbers
          </mat-error>

        </mat-form-field>

        <mat-form-field class="inputs">
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="inputs">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>
            Password must contain 1 letter, 1 number and be at least 8 characters long
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputs">
          <input matInput type="password" placeholder="Confirm Password" formControlName="cpassword" [errorStateMatcher]="errorMatcher">
          <mat-error>
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputs">
          <mat-label>Select account type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="patient">Patient</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>

      <button mat-flat-button color="primary" (click)="onSubmit()" *ngIf="signUpForm.value.type !== 'patient'">Submit</button>
      <button mat-button matStepperNext type="button" *ngIf="signUpForm.value.type === 'patient'">Next</button>
      <div class="not-registered">
        <p>Already have an account?</p>
        <a class="create-account" href="login">Log in</a>
      </div>

    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" *ngIf="signUpForm.value.type === 'patient'">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Fill out profile details</ng-template>

      <mat-form-field class="inputs">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="title" placeholder="John Doe" required>
        <mat-error>
          Full Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="inputs">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="inputs">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="+355680000000" required>
        <mat-error>
          Phone Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="inputs">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="final-buttons">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-flat-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>