<mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav>
        <div class="sidenav-buttons">
            <button mat-stroked-button class="sidenav-btn" [routerLink]="'pappointments'" (click)="sidenav.toggle()" *ngIf="!this.service.isAdmin()">
                <div>
                    <mat-icon>date_range</mat-icon> 
                    <p>Appointments</p>
                </div>
            </button>
            <button mat-stroked-button class="sidenav-btn" [routerLink]="'appointments'" (click)="sidenav.toggle()" *ngIf="this.service.isAdmin()">
                <div>
                    <mat-icon>date_range</mat-icon> 
                    <p>Appointments</p>
                </div>
            </button>
            <button mat-stroked-button class="sidenav-btn" [routerLink]="'patients'" (click)="sidenav.toggle()" *ngIf="this.service.isAdmin()">
                <div>
                    <mat-icon class="material-icons-outlined">people</mat-icon> 
                    <p>Patients</p>
                </div>
            </button>
        </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <mat-toolbar class="nav">
            <div class="menu">
                <button mat-icon-button (click)="sidenav.toggle()" *ngIf="this.service.isAuthenticated()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span [routerLink]="''">Dental</span>
            </div>
            
            <div *ngIf="!service.isAuthenticated()">
                <button mat-stroked-button [routerLink]="'login'">Log In</button>
                <button mat-stroked-button color="primary" [routerLink]="'signup'">Register</button>
            </div>
            <div *ngIf="service.isAuthenticated()">
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <ngx-avatar size="40" [value]="this.service.getUserInfo().username[0]"></ngx-avatar>
                </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="Logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
            </div>
            </mat-toolbar>
            <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
