<div class="form-card">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Edit Appointment</mat-card-title>
      </mat-card-header>
      <form [formGroup]="newAppointment" (ngSubmit)="onSubmit()">
  
        <mat-card-content class="content">

          
          <mat-form-field class="inputs" *ngIf="!this.authService.isAdmin()">
            <mat-label>{{patientName}}</mat-label>
            <input type="text" matInput disabled>
          </mat-form-field>

            <mat-form-field class="inputs" *ngIf="this.authService.isAdmin()">
              <mat-label>Patient</mat-label>
              <input type="text"
                    placeholder="Patient name"
                    matInput
                    formControlName="title"
                    [matAutocomplete]="auto">
              <mat-error>
                  Title is <strong>required</strong>
              </mat-error>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            
              <mat-form-field class="inputs">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description..." class="description" formControlName="description"></textarea>
                <mat-error>
                    Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="inputs">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="date-wrapper">

                <mat-form-field class="input-date">
                  <mat-label>Choose a starting time</mat-label>
                  <input type="text"
                      matInput
                      formControlName="startTime"
                      placeholder="HH:MM">
                  <mat-error>
                      Starting time is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                  <mat-form-field class="input-date">
                    <mat-label>Choose the ending time</mat-label>
                    <input type="text"
                        matInput
                        formControlName="endTime"
                        placeholder="HH:MM">
                    <mat-error>
                        Ending time is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

              </div>

        </mat-card-content>
  
        <button mat-flat-button color="primary" type="submit" class="btn">Submit</button>
  
      </form>
    </mat-card>
  </div>