<h1 mat-dialog-title>Appointment Details</h1>
<div mat-dialog-content>
  <h3>Appointment Date: <b>{{data.start | date:'d/M/yyyy' }}</b></h3>
  <h3>From: <b>{{data.start | date:'shortTime' }}</b></h3>
  <h3>To: <b>{{data.end | date:'shortTime' }}</b></h3>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-stroked-button color="primary" mat-dialog-close (click)="edit()" *ngIf="isEditVisable">Edit</button>
</div>