<h1 mat-dialog-title>Appointment Details</h1>
<div mat-dialog-content>
  <h3>Patient: <b>{{data.title}}</b></h3>
  <h3>Appointment Date: <b>{{data.start.toDate() | date:'d/M/yyyy' }}</b></h3>
  <h3>From: <b>{{data.start.toDate() | date:'shortTime' }}</b></h3>
  <h3>To: <b>{{data.end.toDate() | date:'shortTime' }}</b></h3>
  <h3>Description: <b>{{data.description}}</b></h3>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-stroked-button color="primary" mat-dialog-close (click)="edit()">Edit</button>
  <button mat-flat-button color="warn" mat-dialog-close (click)="delete()">Delete</button>
</div>