<div class="parent">
  <div class="wrapper">
    <div class="header">
      <div class="today">

        <button mat-icon-button color="primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>


        <button mat-stroked-button
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >Today</button>

        <button mat-icon-button color="primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>

      </div>
        <h3 class="font-title-m">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="month" (click)="setView(CalendarView.Month)">Month</mat-button-toggle>
        <mat-button-toggle value="week" (click)="setView(CalendarView.Week)">Week</mat-button-toggle>
        <mat-button-toggle value="day" (click)="setView(CalendarView.Day)">Day</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>  
</div>

<button mat-mini-fab matTooltip="Create an appointment" color="primary" [routerLink]="'create'" class="add-btn">
  <mat-icon>add</mat-icon>
</button>